<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Gameshare", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Action', genres_action_path, class: "list-group-item" %></li>
                <li><%= link_to 'Action adventure', genres_action_adventure_path, class: "list-group-item" %></li>
                <li><%= link_to 'First-person shooter', genres_first_person_shooter_path, class: "list-group-item" %></li>
                <li><%= link_to 'Adventrue', genres_adventure_path, class: "list-group-item" %></li>
                <li><%= link_to 'Role playing', genres_role_playing_path, class: "list-group-item" %></li>
                <li><%= link_to 'Simulation', genres_simulation_path, class: "list-group-item" %></li>
                <li><%= link_to 'Strategy', genres_strategy_path, class: "list-group-item" %></li>
                <li><%= link_to 'Sports', genres_sports_path, class: "list-group-item" %></li>
                <li><%= link_to 'Idle gaming', genres_idle_gaming_path, class: "list-group-item" %></li>
                <li><%= link_to 'Other genres', genres_other_genres_path, class: "list-group-item" %></li>
              </ul>
            </li>
      </ul>
      
      
      
      
    <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% else %>
            <li><%= link_to "Add New Game", new_game_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">View Profile</a></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>   