
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <h1 class="lead">Strategy games</h1>
            <div class="list-group">
                <%= link_to 'Action', genres_action_path, class: "list-group-item" %>
                <%= link_to 'Action adventure', genres_action_adventure_path, class: "list-group-item" %>
                <%= link_to 'First-person shooter', genres_first_person_shooter_path, class: "list-group-item" %>
                <%= link_to 'Adventrue', genres_adventure_path, class: "list-group-item" %>
                <%= link_to 'Role-playing', genres_role_playing_path, class: "list-group-item" %>
                <%= link_to 'Simulation', genres_simulation_path, class: "list-group-item" %>
                <%= link_to 'Strategy', genres_strategy_path, class: "list-group-item active" %>
                <%= link_to 'Sports', genres_sports_path, class: "list-group-item" %>
                <%= link_to 'Idle gaming', genres_idle_gaming_path, class: "list-group-item" %>
                <%= link_to 'Other genres', genres_other_genres_path, class: "list-group-item" %>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
            <% @games.each do |game| %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            
                            <h4><%= link_to game.title, game %></a></h4>
                            <p><%= truncate(game.description, length: 33) %></p>
                            <p><%= game.genre %></p>
                        </div>
                        
                    </div>
                </div>
              <% end %>
               
            </div>

        </div>

    </div>

</div>

