<h1><%= @game.title %></h1>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">

  </div>
</div>

 <div class="container">
     

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @game.title %>
                    <br><small><%= @game.genre %></small><br>
                    <small><%= @game.year %></small><br>
                    <small><%= @game.description %></small>
                </h1>
            </div>
          </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <%= image_tag @game.image(:large), class: "img-responsive" %>
            </div>

         </div>

<h3>Related posts</h3>

    <% @posts.each do |post| %>
    <%= link_to post.title, post %>
    <% end %>
    <br>
    <br>
<%= link_to 'Edit game', edit_game_path(@game), class: "btn btn-primary btn-lg" %>   
<%= link_to 'Back', games_path, class: "btn btn-primary btn-lg" %>
