<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gameshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <style>
   body, html {
    height: cover;
}
  body { 
    /* The image used */
    background-image: url("");

    /* Full height */
    height: cover; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  </style>
  
  <body>
  <%= render 'shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
